.row {
  margin: 20px; 
}


.score{
 text-align: right;
 color: blue;
}

.message{
  text-align: center;
  font-size: 13pt;
}

.nav{
box-shadow: 0 3px 6px #999, 0 3px 6px #999;
margin:0px -8% 0px -8%;
padding: 10px;

}
